
body {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/07/16/37/wood-591631_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Nav Bar */
  .logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 70px;
  }
  
  li, a, button {
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    font-family: fantasy;
    color: black;
    font-weight: bold;
    
     
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image:linear-gradient(#44c294,#8fc9d1, #44c294);
    
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
  }
  
  .nav-links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav-links li a:hover {
    color: olive;
  }
  
  #buttons {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  @media all and (max-width: 500px) {
    #buttons {
      background-color: gainsboro;
      font-size: 10px;
    }
  }
  
  #buttons:hover {
    background-color: rgba(0,136,169,0.8);
  }
  
  
/* Hero */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.shopify.com/s/files/1/0150/6262/articles/18097-01-391_7a2bd001-9d3a-447c-b3d4-b0b3641cfa2b.jpg?v=1547146429");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px;
    margin: 10px auto;
   
  }
  
  
  .hero-text {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Staatliches', cursive;
  
  }
  
  @media all and (max-width:500px) {
    .hero-text {
      font-size: 20px;
    }
  }

  p {
    font-family: 'Rajdhani', sans-serif;
  }
  
  /* Tips */

  .tips-container {
    color: white;
    background-color: rgba(0,0,0,0.8);
    text-align: center;  
    font-size: 25px;
    padding: 30px;
  }
  
  
  h5{
      text-align: center;
      font-size: 60px;
      margin: 50px;
      font-family: 'Staatliches', cursive;
      color: #c7edc0;
  }
  
  h6 {
      font-size: 20px;
      color: white;
  }
  
  .tips-box1{ 
    margin: 10px auto;
  }
  
  .tips-box2 {
   margin: 10px auto;
  }
  
  .tips-box3 {
   margin: 10px auto;
  }
  
  .tips-box4 {
    margin: 10px auto;
  }


  
  
  /* FOOTER */
  
  footer {
      background-image: linear-gradient(#44c294,#8fc9d1, #44c294);
      padding: 20px 0;
  }
  
  #logo2 {
    width:180px;
    border-radius: 90px;
   
    
    
  }
  
  .footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  
  }
  
  .social-media {
    margin: 20px 0;
  
  }
  
  .social-media a
  {
  color: black;
  font-size: 22px;
  text-decoration: none;
  margin: 6px;
  
  
  }
  
  .social-media a:hover {
    color:olive;
  
  }
  
  
  .rights-text {
    color: white;
    font-size: 10px;
  }
  
  /* Form */
  
  .right-col p {
  font-size: 26px;
  }
  
  .border {
  width: 100px; 
  height: 4px;
  background: #fc5c6f;
  }
  
  .newsletter-form {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }
  
  .txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
  }
  
  .btn {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: black;
  background: #fc5c6f;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
  cursor: pointer;
  transition: opacity .3s linear;
  }
  
  .btn:hover
  {
  color: olive;
  }

  
  label {
    color:#44c294;
  }